/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

nav ul li:hover {
    background: #012b24ad;
    }


main {
       background-color: rgba(172, 172, 172, 0.466);  
    }

    h1{
    text-align: center;
    padding-top: 7%;}
    h2{
    text-align: center;
    padding-top: 1%;    
    }

    p {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 15px;
    }


.centro{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.titulo {
    padding-bottom: 5%;
    border-top: 10px solid #00000080;

}

.container-all img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    display: block;
}

.container-all h4{
    margin-bottom: 20px;
}

.formulario{
    margin-bottom: 30px;
}

.mapa iframe{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    

}


.seccion-2 {
       background-color: rgba(0, 0, 0, 0.678);
       
       text-align: center;
}


.seccion-3{
    text-align: center;
    padding-bottom: 5%;

}   

footer{         
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;  
    background-color: rgba(0, 0, 0, 0.438);
    padding-top: 1%;        
    }

footer ul li {
    list-style-type: none;
}




table, td {
        
    

        border: 3px solid black;
        border-collapse: collapse;    
        padding: 10px;
        text-align: center;
        margin: auto;
        
                     
}


.tabla-1{
    $tamaño-tabla;
}
.tabla-2{
    $tamaño-tabla;
}
.tabla-3{
    $tamaño-tabla;
}
.tabla-4{
    $tamaño-tabla;
}


.seccion-4 {
    text-align: center;  
}
.seccion-5 {
    text-align: center;
}
.seccion-6{
    text-align: center;
}
.seccion-7{
    text-align: center;
}


.grid  {

    display: grid;
    grid-template-areas: 
    
    "seccion-4"
    "seccion-4-1"
    "seccion-4-2"
    "seccion-4-3" 
    
    ;  
    margin: auto;
    
}


.seccion-4 {
    padding: 5%;
    text-align: center;
    
}

.seccion-4-1{
    padding: 5%;
    text-align: center;
    
}

.seccion-4-2 {
    padding: 5%; 
    text-align: center;
   
}


.seccion-4-3{
    padding: 5%;
    text-align: center;
    padding-bottom: 100px; 
  
}

.separador-1 {
    height: 0px;
    background: rgba(172, 172, 172, 0.466);
}



/* a partir de aca uso las media queris 768 */
 @media screen and (min-width: 1400px) { 

    main {
        padding-bottom: 10px;    
    }

    nav ul li a{
    display: flex;
    padding: 25px;    
    text-decoration: none;
    
    }
    .grid  {
        grid-template-columns: 700px 700px;
        grid-template-rows: 700px 700px;

        /* grid-template-areas: 
        
        "seccion-4"     "seccion-4-1"
        "seccion-4-2"   "seccion-4-3"        
        ; */
    }

    .grid img:hover{
            transform: scale(1.2);
            border-radius: 15px;
            
    }

   
        .seccion-4 {
            padding: 20%;
            
        }
        
        .seccion-4-1{
            padding: 20%;
            
        }
        
        .seccion-4-2 {
            padding: 20%; 
            padding-top: 80%;
           
        }
        
        .seccion-4-3{
            padding: 20%;
            padding-top: 80%;
          
        }
        .separador-1 {
            height: 1000px;
            background: #012b24ad;
        } 
    }




        


     .fa-brands, .fab {
        font-family: "Font Awesome 6 Brands";
        font-weight: 400;
        width: 50px;
        height: 50px;       
        border-radius: 10px;
        border: none; 
        cursor: pointer;
        padding: 8px;  
        color: aliceblue0;
        font-size: 35px;
        transition: .3s ease all; 
    }

