
main {
    background-color: rgba(172, 172, 172, 0.466);  
    h1{
    text-align: center;
    padding-top: 7%;
    }
    h2{
    text-align: center;
    padding-top: 1%;    
    }

    p {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 15px;
    }
}





