
main {
    background-color: rgba(172, 172, 172, 0.466);  
    h1{
    text-align: center;
    padding-top: 7%;
    }
    h2{
    text-align: center;
    padding-top: 1%;    
    }

    p {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 15px;
    
    }
}

//maps
$redes : (
    whatsapp: rgb(5, 180, 78),
    facebook: #0e049b,
    instagram:#f0a2f3d8,
    youtube:#790101,
    spotify:rgb(5, 180, 78),
);

@each $red, $color in $redes {
    .red-#{$red} { 
    color: $color;
    }
}

//extend
.table {
        $tamanio-tabla;            
}

.td {
    @extend .table;
    border: 3px solid black;
    border-collapse: collapse;    
    padding: 10px;
    text-align: center;
    margin: auto;
    }


//mixins
@mixin size ($alto) {
    height: $alto;
    
}

div{
    @include size(500px);
}




